//------------------------------------
//    #CORE/HTML - PAGE
//------------------------------------

* {
  box-sizing: border-box; // establishes border-box model for all elements
  word-wrap: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Remove default tappable touch color in iOS
}

html {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: $fallbackSans;
  overflow-x: hidden;

  .fonts-loaded & {
    font-family: $sans;
    font-weight: 400;
  }
}

