//------------------------------------
//    #CORE/HTML - TABLES
//------------------------------------

table {
  // Draggable overflow for smaller screens
  // overflow-x: auto;
  // width: 100%;
}

caption {}

colgroup {}

col {}

tbody {
  // Helpful if zebra-striping
  //   tr:nth-child(even) {
  //     background-color: rgba(255, 255, 255, .5);
  //   }
}

thead {}

tfoot {}

tr,
td,
th {
  padding: 10px;
}

tr {}

td {}

th {}
