<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Genuine: Portfolio</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="cleartype" content="on">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/styles/screen.css">


  <script src="/scripts/libs/modernizr.js"></script>

</head>
