%person-card-background{
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 300px;
  padding-top:18px;
}

.media--person-card{
  @extend %person-card-background;
  &.media--person-card-w-image{
    background-image: none;
    min-height: initial;
    padding-top: 0;
    .media__text{
      @extend %person-card-background;
      min-height: 243px;
      @include breakpoint(906px){
        min-height: 308px;
      }
      @include breakpoint(825px 905px){
        min-height: 333px;
      }
      @include breakpoint(768px 824px){
        min-height: 365px;
      }
    }
  }
  .media__image{
    height: 0;
    padding-bottom: percentage(503px/600px);
  }
  &[data-orientation="vertical"]{
    > .media__text{
      padding-top: 24px;
      padding-bottom: 50px;
    }
  }
  > .media__text{
    height: 100%;
    min-height: 225px;
    @include breakpoint(906px){
      min-height: 290px;
    }
    @include breakpoint(825px 905px){
      min-height: 315px;
    }
    @include breakpoint(768px 824px){
      min-height: 347px;
    }
    a[data-icon="arrow-r"]{
      @include font-size(30,30);
      @media print{
        @include font-size(22,24);
      }
      margin-bottom: 10px;
      text-transform: none;
      &:before{
        top: 2px;
      }
    }
    .media__presenter-no-thumb{
      display: inline-block;
      height: 60px;
      margin-bottom: 10px;
      position: relative;
      vertical-align: bottom;
      width: 100%;
      > div{
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
      a[data-icon="arrow-r"]{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
  &.media--person-card-w-thumb{
    > .media__text{
      min-height: 122px;
      padding-top: 10px;
      @include breakpoint(906px){
        min-height: 188px;
      }
      @include breakpoint(825px 905px){
        min-height: 215px;
      }
      @include breakpoint(768px 824px){
        min-height: 246px;
      }
    }
  }
  .dot-taxonomy{
    bottom: 24px;
    position: absolute;
    width: 84%;
  }
  .media--presenter-thumb{
    padding: 8px 8% 0;
    &.media{
      margin: 0 auto 8px;
      @include breakpoint(825px 905px){
        margin-bottom: 7px;
      }
    }
    .media__image{
      height: 86px;
      padding-bottom: 0;
      width: 86px;
      > div{
        margin-top: 0;
        top: 0;
      }
      + .media__text{
        padding-bottom: 0;
        padding-top: 0;
      }
    }
    .media__text{
      padding: 0 0 0 8%;
      width: auto;
      a[data-icon="arrow-r"]{
        @include font-size(30,30);
        @media print{
          @include font-size(22,24);
        }
        margin-bottom: 0;
        text-transform: none;
        &:before{
          top: 2px;
        }
      }
    }
  }
}
