.media--portfolio-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.media--portfolio-item {
  flex: 0 1 100%;
  padding: 2%;

  @include breakpoint($tablet) {
    flex: 0 1 33%;
  }

  &.media--portfolio-item-w-image {
    background-image: none;
    min-height: initial;
    padding-top: 0;

    .media__text {}
  }

  .media__image {
    height: 0;
    // padding-bottom: 56.25%; // 16:9
    padding-bottom: 62.5%; // 16:10
  }

  &[data-orientation="vertical"] {
    > .media__text {
      padding-top: 24px;
      padding-bottom: 50px;
    }
  }

  > .media__text {
    height: 100%;
  }

  .dot-taxonomy {
    bottom: 24px;
    position: absolute;
    width: 84%;
  }

  .media--presenter-thumb {
    padding: 8px 8% 0;

    &.media {
      margin: 0 auto 8px;
    }

    .media__image {
      height: 86px;
      padding-bottom: 0;
      width: 86px;

      > div {
        margin-top: 0;
        top: 0;
      }

      + .media__text {
        padding-bottom: 0;
        padding-top: 0;
      }
    }

    .media__text {
      padding: 0 0 0 8%;
      width: auto;
    }
  }
}

