{# index.twig #}
{% extends 'includes/1_core/layout.twig' %}

{% block page %}
  <section class="wrapper">
    {% include './includes/3_components/portfolio--item.twig' %}
  </section>
{% endblock %}
