//------------------------------------
//    #CORE - WRAPPER
//
// Note: The ":root" selector allows you to target the highest-level "parent"
// element in the DOM or document tree. Usually the same as `html`, but has
// a higher specificity.
// (https://css-tricks.com/almanac/selectors/r/root)
//------------------------------------


:root {
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  width: 100%;
}
