<div data-module="portfolio" id="portfolio">
  {# <input class="search" placeholder="Search" />
  <button class="sort" data-sort="title">
    Sort by name
  </button> #}

  <ul class="media--portfolio-list list">
    {% for item in portfolio %}
    <li class="media--portfolio-item {{ item.modifierClasses }}" data-orientation="vertical">
      <a href="{{ item.url }}" class="title">{{ item.title }}</a>
      {% if item.image %}
        <a href="{{ item.url }}">
          <div class="media__image">
            <div style="background-image:url('{{ item.image }}');"></div>
          </div>
        </a>
      {% endif %}

      <div class="media__text">
        {% if item.description %}
          <p class="description">{{ item.description }}</p>
        {% endif %}

        {% if item.date %}
          <p>Launched: <span class="date">{{item.date}}</span></p>
        {% endif %}

        {% if item.category %}
          <p>Categories:</p>
          <ul>
            {% for cat in item.category %}
              <li class="category">{{ cat }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
